  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <div class="row">
        <!--main content-->
        <div class="col-md-12">
          <div class="page-header">
            <h1>
                HR SERVICES
              </h1>
          </div>
          <div class="block block-border-bottom-grey block-pd-sm">
            <h3 class="block-title">
                The bouquet of our HR services include:
              </h3>
            <!--img src="assets/img/misc/about-us.png" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b"-->
            <ol>
              <li>Recruitment Solutions: On-Role and Off Role</li>
              <li>Employee Training</li>
              <li>Registration Assistance</li>
              <li>Payroll Management</li>
              <li>Appraisal Facilitation</li>
              <li>Change Management</li>
            </ol>
            <h3 class="block-title">
                Recruitment Solutions:
              </h3>
            <p>Our specialty is to work closely with our customers, becoming an extended arm to them by managing their end to end recruitment. We have the hiring experience for over 1000 recruitments across various industries in particular Product and Service based organizations.</p>
            <p><b>Our Promise to Customers:</b></p>
            <p>a) Our recruited employees stay at least 30% longer than any other agency as we always conduct profile matching before suggesting any employee to a client.</p>
            <p>b) Interview Turn up the ratio of at least 30% more than any other agency etc.</p>
            <h3 class="block-title">
                Off-Role Recruitment:
              </h3>
              <p>We ensure to recruit the employee with the desired skill set on a timely basis due to our proven skill-set of a better understanding of the employee and client expectations. We are able to do so due to our stable foundation of providing ESI, PF and time salary payment stability benefits to any employee. Our chain of affiliate partners from other verticals provides us with a ready-made on-ground database of targeted employees.</p>
              <p>We promise to provide employees at least 80% of the time. We also guide the actual employers to follow the best employment practices in the process.</p>
            <h3 class="block-title">
                Employee Training
              </h3>
              <p>We offer training & development services for all levels of employees and external stakeholders. Our specialization is in instructor-led classroom courses focused on behavior skills. Our in house experience of providing world-class training of over 1200 days to be the best of the organizations facilitates our ability to tailor-made training for your specific needs.</p>
              <p>We have a panel of highly experienced and best in the class trainers for each category who are available for off-site as well as on-site training. We even do training assessments and evaluations based on clients’ needs.</p>
            <h3 class="block-title">
                Registration Assistance
              </h3>
              <p>Any new start-up or growing business requires its employees to have a sense of belonging to the organization. One of the key factors for this is to ensure all employees get FP/ESI/Govt. Pension like benefits. We specialize in providing such services to any organization on pre-defined time limits. We also enable adding new addresses and surrender of the already taken facility on need basis for any organization.</p>
			  <h3 class="block-title">
                Payroll Management
              </h3>
              <p>We provide the facility of payroll management to any organization for their permanent as well as temporary staffing needs. We ensure meeting all the statutory compliances like attendance, leave management, disbursement of wages as per statute, minimum wages, and deposition of ESI, PF, Gratuity and Bonus in schedule time. We also provide required MIS for the organization on a requirement basis.</p>
          </div>


        </div>

      </div>
    </div>
  </div>
 
  <!-- Call out block -->
  <app-our-client></app-our-client>