  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <div class="row">
        <!--main content-->
        <div class="col-md-12">
          <div class="page-header">
            <h1>
                On-line Marketing
              </h1>
          </div>
          <div class="block block-border-bottom-grey block-pd-sm">
          	<p>Our team of experts will work closely with customers to identify the precise requirement of each customer. We ensure that each customer gets the best return on investment in the shortest possible time.</p>
          	<p>We have created these services under specific packages as explained below for ease of choice for all customers.</p>
            <h3 class="block-title">
                Website and Email with Domain Name:
              </h3>
            <!--img src="assets/img/misc/about-us.png" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b"-->
            <p>This package offers creation of basic website for your businesses. We enable you to have a online presence of your own without hiring any person or agency on permanent basis incurring regular costs. The Website created by our experts will be on the best available online platform. Our experts will actively engage with you to create a good content suiting your business alongside providing proper advice on content generation.</p>
            <p>This package come with a free customized email creation for your staff. It gives your customers high satisfaction of engaging with a reputed organization. This also increases your employee morale significantly to have their emails along-with the organization name. There are various levels of control services which can be provided to suit your requirements.</p>
            <p>This package is also available with various payment options like monthly/quarterly/half yearly payments suiting your requirements.</p>

            <h3 class="block-title">
                Facebook Page Development:
              </h3>

            <p>The most strongly present platform for social networking is Facebook today. Creating an organization’s Facebook page is totally different from your personal Facebook page. It entails a different kind of customer engagement. Our team of experts will ensure constant updating of your Facebook page.</p>
            <p>We help you to maximize mileage from even the smallest activity you do through sharing live pictures with customers, creating special gift vouchers, wishing your customers n festivals. We also offer Facebook page special promotion packages.</p>

            <h3 class="block-title">
                Electronic Direct Mailers (eDMs):
              </h3>

            <p>eDMs are one of the best medium to reach end customers, generate leads, promote special schemes, wishing on special occasions to many of your customers at one go. Our experts make your simplest of Ideas look very attractive.</p>

            <h3 class="block-title">
                Search Engine Optimization (SEO / SMO):
              </h3>

            <p>Today just creating a Website is not enough for your online presence. Ensuring your website stays on top of your customers search lists on consistent basis is equally important. Our team of experts will offer your constant advice which will be simple to implement to ensure you are on top of your industry at all the times.</p>
            <p>Our experts ensure all your social media platforms give a consistent, strong and creative message to your customers.</p>

            <h3 class="block-title">
                Customer Testimonial Creation:
              </h3>

            <p>This service is to help our customers create effective success-stories of their product offerings. The basic offer is to create a basic page on the Internet of a current user expressing his satisfaction using your products so as to influence other customers to go for it. The higher end of this service will be to conduct customer interviews on the field with professional video recording and editing the content to suit the client’s requirement.</p>


            <h3 class="block-title">
                Photo Shoot for Website:
              </h3>

            <p>This service is to provide content for your services/products for online promotion. It can be kept offline and given to the customer or it can be integrated into your existing Website/Facebook page. It is used by the client’s customer handling team to increase customer satisfaction.</p>
            <p>This typically includes creating product demos and office photo shoots to increase customer connect and understand your products & Services.</p>

            <h3 class="block-title">
                Logo Design and Development:
              </h3>

            <p>Logo is the most integral part of converting your product into a brand. It’s a true image of your products and services. We create your logo based on mutual understanding and customer’s perception. Our creative team is highly able to serve you with various options for your logo to depict your product and services.</p>

            <h3 class="block-title">
                Brochure / Leaflet / Flyer Development:
              </h3>

            <p>Our team of experts are highly capable to understand your specific requirements thereby creating effective  products/ services brochure for effective distribution to your customers. On request, we can undertake the printing job also. We will explain to you the specification of printing and as per your choice that can be executed.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
 
  <!-- Call out block -->
  <app-our-client></app-our-client>