<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template>  
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template> 
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template> 
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template> 
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template> 
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template> 
    <ng-template carouselSlide>
    	    <a href="#" class="overlay-wrapper">
                <img src="assets/img/showcase/project1.png" alt="Project 1 image" class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Project 1</span> </span>
                </span>
            </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">Project 1</a>
                </h4>
              <a href="#" class="btn btn-more"><i class="fa fa-plus"></i>Read more</a>
            </div>
    </ng-template>   
</owl-carousel-o>