  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <div class="row">
        <!--main content-->
        <div class="col-md-12">
          <div class="page-header">
            <h1>
                TRADING DIVISON
              </h1>
          </div>
          <div class="block block-border-bottom-grey block-pd-sm">
            <!--h3 class="block-title">
                This organization is organized in 3 business divisions!
              </h3-->
            <img src="assets/img/misc/TRADING-DIVISON.jpg" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b" width="400" height="300">
            <p>Our large footprint of affiliates and partners across country shall provide a ready-made base for quick and profitable future expansion.</p>
            <ol>
              <li><a href="">Marketing Division</a> to e-Enable all businesses towards better marketing returns</li>
              <li><a href="">HR Service</a> to provide Recruitment, Off-role manpower, and allied services</li>
              <li><a href="">Trading Division</a> to bring new path-breaking products primarily for business users</li>
            </ol>
            <p>Our management is having rich experience of running huge businesses with detailed foot print across the country. We are in the process of examining the right product line for office customers. It is our endeavor to provide the latest products from sunrise industries to suit the customers’ requirement even 10 years from now.</p>
            <p>Current focus is on energy sector products like Solar Panels, UPS and high consumption office items like Paper and stationery. We solicit collaboration of OEMs and large manufacturers seeking out future expansion plans.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
 
  <!-- Call out block -->
  <app-our-client></app-our-client>