         <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form [formGroup]="contactusForm" (ngSubmit)="sendMessage(contactusForm.value)" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" formControlName="firstName" name="firstName" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" name="email" id="email" placeholder="Your Email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject" formControlName="subject" name="subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" formControlName="message" name="message" rows="5"  placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" *ngIf="!sending">Send Message</button></div>
            </form>
          </div>


          <div class="row clearfix hidden">
  
      <div class="container">
  
        <div class="center-form panel">
          <div class="panel-body">
  
          <form [formGroup]="contactusForm" (ngSubmit)="sendMessage(contactusForm.value)">
            <div class="form-group">
                <input type="text" class="form-control form-names input-lg" formControlName="firstName" name="firstName" placeholder="First Name">
              </div>
            <button *ngIf="!sending" type="submit" class="btn btn-block btn-success">Send Message</button>
     
          </form>
  
        </div>
        </div>
  
      </div>
  
    </div>
