  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <div class="row">
        <!--main content-->
        <div class="col-md-12">
          <div class="page-header">
            <h1>
                About Us
              </h1>
          </div>
          <div class="block block-border-bottom-grey block-pd-sm">
            <h3 class="block-title">
                This organization is organized in 3 business divisions!
              </h3>
            <!--img src="assets/img/misc/about-us.png" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b"-->
            <p>We are an organization created by industry leaders having vast experience in the best MNCs operating in their field of work to assist businesses to achieve the targeted growth.</p>
            <ol>
              <li><a href="">Marketing Division</a> to e-Enable all businesses towards better marketing returns</li>
              <li><a href="">HR Service</a> to provide Recruitment, Off-role manpower, and allied services</li>
              <li><a href="">Trading Division</a> to bring new path-breaking products primarily for business users</li>
            </ol>
            <p>Our primary focus is to uplift small and medium organizations to become large organized businesses in their respective domains. We already have a team of dedicated recruiters working for our clients in Delhi and NCR. Now we are expanding our footprint to all locations in India within the next 2 months.</p>
            <p>ActToLead operates in-country through a wide network of 24 affiliate partners, 3 branches 30+employee and over 60 off roll field agents who are well trained to deliver any ground-level manpower requirement as well with ease.</p>
            <p>We are more than 100% committed to adding value to each and every customer. We promise to deliver the best RoI for your each investment.</p>
          </div>

          <div class="block">
            <h3 class="block-title">
                Vital Stats
              </h3>
            <div class="row">
              <div class="col-md-4">
                <div class="stat">
                  <span data-counter-up>1000</span>s
                  <small>Happpy Customers</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="stat">
                  <span data-counter-up>163</span>+
                  <small>GB Transfered</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="stat">
                  <span data-counter-up>214</span>
                  <small>Bugs Fixed</small>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
 
  <!-- Call out block -->
  <app-our-client></app-our-client>