<header class="navbar-inverse">
  <div class="container">
      <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a routerLink="/"><i class="fa fa-home"></i></a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Pages <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/about">About us</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">register</a></li>
                    <li><a routerLink="/unique-commitments">Unique Commitments</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li><a routerLink="/online-marketing">online marketing</a></li>
                  	<li><a routerLink="/corporate-events">Corporate Events</a></li>
                    <li><a routerLink="/hr-services">HR Services</a></li>
                    <li><a routerLink="/trading-divison">Trading Divison</a></li>
                  </ul>
                </li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
              </ul>

            </div>
          </div>
        </nav>
      </div>
      </div>
  </div>
</header>